body{
	background: #E5E5E5;
	font-family: cursive;
	padding: 40px;
}
.textos{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#imagen{
	display: block;
	position: absolute;
	width: 336px;
	height: 304px;
	left: 60%;
	top: 283px;
}

img{
	position: absolute;
	left: 10%;
	top:  5%;
}

#imagen p{
	position: absolute;
	color: #343A40;
	font-size: 24px;
	left: 25%;
	top: 300px;

}


.boton_uno button{
	
	background: #0A3871;
	color: #ffff;
	border-radius: 24px;
	padding: 24px;
	width: 328px;
	height: 67px;
}
.boton_dos button{
	
	background: #D8DFE8;
	color: #0A3871;
	border-radius: 24px;
	padding: 24px;
	width: 328px;
	height: 67px;

}
.boton_tres button{
	
	background: #D8DFE8;
	color: #0A3871;
	border-radius: 24px;
	padding: 24px;
	width: 328px;
	height: 67px;

}
.botones{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	}

textarea {
	margin-top: 90px;
	background: transparent;
	font-family: cursive;
	resize : none;
	border-color: transparent;
	border-radius: 14px;
   	-moz-border-radius: 14px;
   	-webkit-border-radius: 14px;  		
}
textarea#c {
	background: white;
	font-family: cursive;
	resize : none;
	border-color: transparent;
	border-radius: 14px;
   	-moz-border-radius: 14px;
   	-webkit-border-radius: 14px;   		
}


footer{
	position: relative;
	margin-top: -10px;
	width: 100%;
	padding: 25px;
	top: 25%;
	clear: both;
	text-align: center;
	background: #eff;
	font-family: cursive;
	color: #555;
}
